@charset "UTF-8";
/* CSS Document */
body, h1, h3, h2, h4, h5, h6, p, dl, dd, ul, ol, form, input, fieldset, th, td, iframe {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: normal;
}

i, em {
  font-style: normal;
}

a, u {
  text-decoration: none;
  color: #666;
}

li {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

input {
  vertical-align: top;
}

a, input, area {
  outline: none;
}

body {
  font-size: 14px;
  font-family: "微软雅黑";
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

table {
  border-collapse: collapse;
}

.border0, .noborder {
  border: none;
}

.header {
  width: 900px;
  height: 70px;
  margin: 0 auto;
  background: #f2f2f2;
  padding-top: 10px;
}
.header div {
  width: 200px;
  height: 60px;
  margin-left: 30px;
  border-right: 1px solid #ccc;
  float: left;
  padding-right: 30px;
}
.header div img {
  width: 200px;
  height: 60px;
}
.header span {
  width: 116px;
  height: 46px;
  font-size: 24px;
  float: left;
  padding-left: 30px;
  line-height: 60px;
  font-weight: 600;
}

.main {
  width: 890px;
  height: 402px;
  margin: 0 auto;
  background: #fff;
  border: 5px solid #e8e8e8;
  margin: 55px auto 0;
}
.main .main_div {
  height: 400px;
  border: 1px solid #e1e1e1;
}
.main .main_div .img {
  width: 460px;
  height: 400px;
  float: left;
}
.main .main_div .denglu {
  float: left;
  width: 321px;
  height: 354px;
  margin-left: 55px;
}
.main .main_div .denglu .ul1 li {
  float: left;
  width: 160px;
  height: 54px;
  text-align: center;
  font-size: 16px;
}
.main .main_div .denglu .ul1 li a {
  width: 160px;
  display: inline-block;
  height: 16px;
  margin: 18px 0;
  color: #313840;
}
.main .main_div .denglu .ul1 .li1 {
  font-weight: 600;
  color: #cb5970;
}
.main .main_div .denglu .ul1 .li1 a {
  border-right: 1px solid #ccc;
  color: #e7493e;
}
.main .main_div .denglu .zhu {
  width: 321px;
  margin-left: 55px;
  padding-top: 74px;
}
.main .main_div .denglu .zhu img {
  width: 159px;
  height: 159px;
  margin-left: 31px;
  border: 1px solid #f2f2f2;
}
.main .main_div .denglu .zhu .p1 {
  font-size: 12px;
  margin: 16px 0 16px 25px;
}
.main .main_div .denglu .zhu .img_p {
  width: 276px;
  height: 6px;
  margin-left: -58px;
  padding-top: 20px;
}
.main .main_div .denglu .zhu .img_p img {
  width: 276px;
  height: 26px;
  border: none;
}
.main .main_div .denglu .zhu_ {
  width: 321px;
  padding-top: 24px;
  display: none;
}
.main .main_div .denglu .zhu_ .tishi_ {
  width: 318px;
  height: 23px;
  background: #fbf5e9;
  border: 1px solid #e1c7ae;
  font-size: 12px;
  display: inline-block;
  line-height: 22px;
}
.main .main_div .denglu .zhu_ .tishi_ .icon-light {
  color: #edc853;
  padding: 0 10px;
  display: inline-block;
}
.main .main_div .denglu .zhu_ .txt {
  margin-top: 7px;
}
.main .main_div .denglu .zhu_ .txt .icon-4 {
  width: 34px;
  height: 34px;
  border-left: 1px solid #babebf;
  border-top: 1px solid #babebf;
  border-bottom: 1px solid #babebf;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  display: inline-block;
  background: #f1f2f4;
}
.main .main_div .denglu .zhu_ .txt input {
  width: 252px;
  height: 32px;
  padding-left: 15px;
}
.main .main_div .denglu .zhu_ .pass {
  margin-top: 7px;
}
.main .main_div .denglu .zhu_ .pass .icon-suozi {
  width: 34px;
  height: 34px;
  border-left: 1px solid #babebf;
  border-top: 1px solid #babebf;
  border-bottom: 1px solid #babebf;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  display: inline-block;
  background: #f1f2f4;
}
.main .main_div .denglu .zhu_ .pass input {
  width: 252px;
  height: 32px;
  padding-left: 15px;
}
.main .main_div .denglu .zhu_ .zhu_p1 {
  width: 320px;
  height: 37px;
  margin-bottom: 10px;
}
.main .main_div .denglu .zhu_ .zhu_p1 label {
  float: left;
  height: 37px;
  margin-top: 14px;
  font-size: 14px;
  color: #999;
}
.main .main_div .denglu .zhu_ .zhu_p1 label input {
  margin-top: 4px;
  margin-right: 10px;
}
.main .main_div .denglu .zhu_ .zhu_p1 a {
  float: right;
  margin-top: 14px;
  margin-right: 13px;
  color: #999;
}
.main .main_div .denglu .zhu_ .zhu_p1 a:hover {
  text-decoration: underline;
  color: red;
}
.main .main_div .denglu .zhu_ .zhu_p2 {
  width: 318px;
}
.main .main_div .denglu .zhu_ .zhu_p2 input {
  width: 320px;
  height: 40px;
  border: none;
  background: #f5342f;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 13px;
}
.main .main_div .denglu .bot {
  width: 406px;
  height: 51px;
  background: #fcfcfc;
  margin-left: -33px;
  margin-top: 39px;
}
.main .main_div .denglu .bot ul {
  margin-left: 55px;
  position: relative;
}
.main .main_div .denglu .bot ul li {
  float: left;
  line-height: 50px;
  width: 76px;
  height: 50px;
}
.main .main_div .denglu .bot ul li img {
  margin-top: 15px;
}
.main .main_div .denglu .bot ul li .img_b2 {
  margin-top: 18px;
}
.main .main_div .denglu .bot ul li .img_b1 {
  margin-top: 16px;
}
.main .main_div .denglu .bot ul span {
  float: left;
  position: absolute;
}
.main .main_div .denglu .bot ul .gun1 {
  top: 15px;
  left: 59px;
}
.main .main_div .denglu .bot ul .gun2 {
  top: 15px;
  left: 136px;
}
.main .main_div .denglu .bot ul .gun3 {
  top: 15px;
  left: 215px;
}
.main .main_div .denglu .bot ul a:hover {
  color: red;
  text-decoration: underline;
  font-size: 12px;
}
.main .main_div .denglu .bot ul .liji_ {
  color: red;
}

.bottom {
  text-align: center;
  width: 100%;
  margin-top: 40px;
  font-size: 12px;
}
.bottom p {
  color: #9ea09b;
}
.bottom p span {
  color: #585858;
}

/*# sourceMappingURL=scss.css.map */
